
#addProduct{
    position: absolute;
    z-index: 9;
    background-color: rgb(95, 158, 160);
    width: 80%;
    margin: auto;
    border-radius: 9px;

    display: none;

    right: 0;
    left: 0;
}

#addProduct label{
    margin-left: 5px;
    font-size: x-large;
}

#addProduct button{
    border-radius: 5px;
    border:none;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
}

#closeAddProduct{
    float:right;
    color:red;
    margin-right: 5px;
    cursor: pointer;
}

/*on smartphone*/
@media screen and (max-width: 600px) {
    #addProduct{
        width: 95%;
    }
}
